body{
    background-color: linear-gradient(#f7f7f2, #E4E6C3);
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: Helvetica;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
}

/**************************************************************************************************************************************/
/*************************************************************header********************************************************************/
/**************************************************************************************************************************************/

header{
    text-align:center;
    background-image:url("https://cdn.shopify.com/s/files/1/2509/2488/articles/les-bases-de-la-lithotherapie_1600x.jpg?v=1568123574");
    width: 100%;
    height: 400px;
    grid-column : 1 /span 3;
    grid-row: 1;
}

*{
    margin: 0em;
}

.panier

{   display:flex;
	text-decoration:none;
	color: whitesmoke;
	text-transform:initial;
}

.panier img{
    width: 20%;
    margin-right: 10px;
}

/**************************************************************************************************************************************/
/*************************************************************menu********************************************************************/
/**************************************************************************************************************************************/

aside{
    justify-content: center;
    align-content: center;
    background-color: #645244;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-column: 1 /span 3;
    grid-row: 2;
    position:fixed;
}

nav{ 
    font-family: Helvetica;
    font-size: 14x;
    text-align: center;
    justify-content: center;
    list-style-type:none;
    width: 100%;
    grid-column: 1 /span 3;
    grid-row: 2;
}

nav ul li a{
    width: 50px;
    text-decoration: none;
    padding: 20px;
    color: #FFF;
}

nav ul li a:hover{
    text-decoration: none;
    background-color: #FFF;
    padding: 20px;
    color: #877B66;
}

nav ul{
    display: grid;
    list-style-type:none;
    grid-row: 2;
}

nav li{
    grid-row: 2;
}

.anim-nav {
    background: black;
    color: whitesmoke;
}

/**************************************************************************************************************************************/
/*************************************************************contenu********************************************************************/
/**************************************************************************************************************************************/

h1{
    text-align:center;
    font-family: Helvetica;
    font-weight: bold;
    font-size:xx-large;
    text-decoration: none;
    border-bottom:dotted 1px;
    color:#312244;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

h2{
    text-align:left;
    font-family: Helvetica;
    font-weight: bold;
    font-size:x-large;
    text-decoration: none;
    border-bottom:dotted 1px;
    color :#f05d23;
}

.container {
    width: 800;
    height: 400;
    margin: 0 auto;
    padding: 50px;
    grid-row: 3;
    grid-column: 1 /span 3;
}

.carrousel img{
    max-width:100%;
    display: none;
}

img.active {
    display : block;
    animation : fade 1s;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.cont-btn {
    width: 100%;
    height : auto;
    background-color: whitesmoke;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
}

.btn-nav {
    font-size: 50px;
    margin: 0 15px;
    cursor: pointer;
}

#boutique{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1400px;
    grid-column: 1 /span 3;
    grid-row: 4;
}

.bouton{
    position:absolute;
    width:70px;
    cursor:pointer;
    top:150px;
}

#bagues{
    background-color: whitesmoke;
    border-radius: 20px;
    margin: 20px;
    height: 30px;
    grid-column: 1 /span 3;
    grid-row: 4;
}

.bagues{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bagues img{
    margin: 10px;
    border-radius: 20px;
}

img{
    width: 100%;
}
/**************************************************************************************************************************************/
/*************************************************************footer******************************************************************/
/**************************************************************************************************************************************/

footer{
    background-color: black;
    padding: 20px;
    grid-column: 1 /span 3;
    grid-row: 6;
}

footer nav ul{
    flex-direction: row;
}