body{
    background-color: linear-gradient(#f7f7f2, #E4E6C3);
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: Helvetica;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
}

#tableau {
    justify-content: center;
    margin-left:auto;
    margin-right: auto;
    border-width:2px; 
    border-style:none;
    width:100%;
    background-color: whitesmoke;
    grid-column: 1 /span 2;
    grid-row: 4;
    text-align: center;
    }
    caption{
        text-align: center;
    }
    th{
        text-align: center;
        font-weight: normal;
}

.styled{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #f05d23;
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    color: #f05d23; ;
    background-color: #fff;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}

img{
    border-radius: 20px;
}
